@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.nav-link{
	margin-right: 15px;
	color:#08f01b;
	letter-spacing: 0.5px;
	transition: 0.5s;
	font-family: 'Bree Serif', sans-serif;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: 'Bree Serif', sans-serif;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: 'Bree Serif', sans-serif;
}